/* @font-face {
    font-family: "KaTeX_Main";
    src: url("https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/fonts/KaTeX_Main-Regular.ttf") format("truetype");
} */
/* .k-pdf-export p {
    border: 2px dashed #aaa;
    padding: 10px;
} */